<div class=" headerMainContainer">
  <div class="headerContainer">
    <a href="google.com">Mentions légales</a>
    <a href="google.com">CGU</a>
    <a href="google.com">À propos</a>
  </div>
</div>
