.headerMainContainer{
  background-color: #FBFBFF;
  border-bottom: 1px solid #e3e3e3;
  padding: 8vh 0;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;


}
.headerContainer{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

a{
  text-decoration: none;
  color: #000;
  font-family: 'Roboto', sans-serif;
}
