<nav>
    <div class="left">
      <a href="#">
        <img src="./assets/homeLogo.svg" alt="Accueil">
      </a>
    </div>
    <div class="right">
      <button class="login-btn" routerLink="/connexion">Se connecter</button>
    </div>
  </nav>
