@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

p{
  font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFBFF;
    padding: 10px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  }

  .left img {
    width: 50px;
    height: 50px;
  }

  .right .login-btn {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #003249;
    color: #003249;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .right .login-btn:hover {
    background-color: #003249;
    color: #FBFBFF;
    cursor: pointer;
    scale: 1.1;


  }

  .right .login-btn:hover::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #FBFBFF;
    animation: underline 0.3s ease-in-out forwards ;
  }

  @keyframes underline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }


p{
  font-family: 'Roboto', sans-serif;
}
