<app-header></app-header>

<div class="container">
    <h2>Se connecter</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" id="email" formControlName="email" />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" formControlName="password" />
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    </form>
  </div>

  <app-footer></app-footer>
