<app-header></app-header>
<div class="container">
    <h2>S'enregistrer</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" id="email" formControlName="email" />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" formControlName="password" />
      </div>
      <button type="submit" [disabled]="registerForm.invalid">S'enregistrer</button>
    </form>
  </div>
  <app-footer></app-footer>