
<div class="header">

  <div class="inner-header flex">

    <div class="mainContainer">
      <div class="container">
        <p>Nous la consommons, prenons des bains; elle est partout au quotidien.</p>
        <p> L’eau est nécessaire au maintien de toute forme de vie,<br>
          dont l’espèce humaine fait partie.</p>
        <p> Eau de source ou eau de mer, elle se décline sous une multitude de formes.</p>
      </div>
    </div>
  </div>

  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>

</div>

