*, html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}

.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-header {
  flex: 0 0 auto;
}

app-text-intro {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

app-footer {
  flex: 0 0 auto;
  display: block;
}

.transition{
  z-index: 9999;
  width: 100%;
  height: 100vh;
  position: absolute;
  background:white;
  animation: transition 1s ease-in-out forwards;
  -webkit-animation: transition 1s ease-in-out forwards;
  -moz-animation: transition 1s ease-in-out forwards;
  -o-animation: transition 1s ease-in-out forwards;
  -ms-animation: transition 1s ease-in-out forwards;
}

@keyframes transition {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
