<div class="transition" id="transition"></div>

<div id="fadeIn" class="fadeIn">
  <div class="loading">
    <div class="wave"></div>
    <p>Votre site arrive !</p>
  </div>
</div>
<body>
<div class="container">
  <h1>Les secrets de l’eau</h1>
  <p>Comprendre son rôle vital dans notre corps</p>
  <a (click)="goToMenu()">

            <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon"
                     style="width: 2em; height: 2em;vertical-align: middle;fill: currentColor;overflow: hidden;"
                     viewBox="0 0 1024 1024" version="1.1">
                    <path
                      d="M509.683235 61.691037c-247.329015 0-447.848934 200.519919-447.848934 447.863261 0 247.331062 200.519919 447.852004 447.848934 447.852004 247.331062 0 447.866331-200.519919 447.866331-447.852004C957.549565 262.210957 757.014296 61.691037 509.683235 61.691037zM712.38075 532.75265l0 1.069355-305.282938 201.956641c-4.439102 5.989411-11.513218 9.918907-19.569708 9.918907-13.46364 0-24.408923-10.945283-24.408923-24.437575 0-0.868787 0.157589-1.707898 0.25685-2.548032l-0.25685-0.168846L363.119181 300.56652l0.25685-0.127913c-0.099261-0.868787-0.25685-1.707898-0.25685-2.587941 0-13.507642 10.945283-24.437575 24.408923-24.437575 7.6574 0 14.361079 3.570315 18.872836 9.05012l305.97981 202.811102 0 1.069355c9.907651 3.115967 17.164938 12.268418 17.164938 23.210631C729.545688 520.498558 722.287377 529.651009 712.38075 532.75265z"/>
                </svg>
            </span>
    <div class="liquid"></div>
  </a>
</div>
<div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
</body>
