
 html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #FBFBFF;
   height: 100%!important;

 }
  ::selection {
    background: #003249;
    color: #BFCEDB;
  }

 app-root {
   display: block;
   height: 100%;
 }
